body {
    background-color: cadetblue !important;
}

.center {
    text-align: center;
}

#box {
    width: 200px;
	border:2px solid white;
	text-align: center;
	margin:20px auto; /*top and bottom 20 px and centre it*/
	padding: 20px 20px;
	font-size: 40px;
	position: relative;
	transition: 0.3s ease-in;
}

.badges {
    background: red;
    color: white;
    font-size: 30px;
}

#player-badge {
    position: absolute;
	top: 20px !important;
	left: -35px !important;
}

#computer-badge {
    position: absolute;
	top: 20px !important;
	right: -50px !important;
}

.choices{
	display: inline-block;
	border:5px solid #B5B2CD;
	border-radius: 50%;
	margin:20px;
	background-color: white;
	transition: 0.3s ease-in;
}
.choices:hover{
	cursor: pointer;
	background-color: #f5f5dc;
}

#start-again {
    padding: 15px;
    background-color: green;
	border-radius: 15px;
	color: white;
    font-size: 20px;
}

#start-again:hover {
    background-color: greenyellow;
	color: grey;
}

#showRounds {
	font-size: 20px;
}

#result {
	padding: 30px;
	color: red;
	font-size: 30px;
}